<%- include('./partials/header') %>   
   <div class="container">
       <div class="jumbotron">
           <div class="overlay"></div>
           <h1>Welcome!</h1>
           <p>This is where I write about what I'm learning</p>
 
       </div>
   </div>
   <div class="container">
    <hr>
   </div>

 
 
   <div class="container blogposts" style="display:flex; flex-wrap: wrap;">
       <% for(var i = blogs.length -1 ; i > 0; i--){ %>
       <div class="card" style="display: block;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 10px;
       width: 75%;">
           <a href="/blogs/<%= blogs[i]._id%>"><img class="card-img-top" src="<%= blogs[i].image %>" alt="Card image cap"></a>
           <div class="card-body">
               <span class="date"><em><%= blogs[i].created.toDateString() %></em></span>
               <br>
               <h5 class="card-title"><%= blogs[i].title %></h5>
               <p class="card-text">
                   <% console.log(blogs[i].body) %>
                   <% if (blogs[i].body.length < 50){ %>
                   <p><%= blogs[i].body %></p>
                   <% } else { %>
                   <p><%= blogs[i].body.slice(0, 50) %> ...</p>
                   <% } %>
               </p>
               <a href="/blogs/<%= blogs[i]._id%>" class="btn btn-primary">Read</a>
               <% if(currentUser){ %>
                   <a type="button" class="btn btn-warning" href="/blogs/<%= blogs[i]._id%>/edit">Edit</a>
               <% } %>
           </div>
       </div>
       <% } %>
   </div>

   <script src="https://kit.fontawesome.com/1eb4659c58.js" crossorigin="anonymous"></script>
    <%- include('./partials/footer') %>